body {
    background-color: darkorange;
}

.header {
    text-align: center;
    font-size: 30px; 
    font-family: serif;
    color: black;
    padding: 10px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
    border-radius: 10px; 
    background-image: linear-gradient(to right, yellowgreen, greenyellow); 
}

#burger {
    width: 200px;
    box-shadow: 20px 20px;    
}

#buttercup {
    width: 10px;
}
.post {
    background-color:  white;
    text-align: left;
    font-size: 14px;
    font-family:'Franklin Gothic Medium';
    border: 4px black double;
    padding: 4px;
    margin-right: 600px;
}